* {
            margin: 0;
            padding: 0;
            outline: 0;
            font-family: 'Open Sans', sans-serif;
        }

        body {
            height: 100vh;
            background-image: url(17.jpg); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px 25px;
            width: 300px;
            background-color: rgb(108, 135, 255);
            box-shadow: 0 0 10px rgb(248, 248, 248);
            border-radius: 10px;
        }

        .container h1 {
            text-align: left;
            color: rgb(4, 12, 15);
            margin-bottom: 30px;
            text-transform: uppercase;
            border-bottom: 4px solid #f3f4f7;
        }

        .container label {
            text-align: left;
            color: rgb(5, 9, 12);
        }

        .container form input {
            width: calc(100% - 20px);
            padding: 8px 10px;
            margin-bottom: 15px;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid #fcfdff;
            color: #f2f4f5;
            font-size: 20px;
        }

        .container form button {
            width: 100%;
            padding: 5px 0;
            border: none;
            background-color: rgb(254, 254, 254);
            font-size: 18px;
            color: rgb(5, 9, 248);
            cursor: pointer;
            border-radius: 5px;
        }

        .container form button:hover {
            background-color: #e6e6e6;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
